<h1>Register page</h1>

<h2>Sign up form</h2>

<form action="/register" method="POST">
    <input type='text' name='username' placeholder="username" >
    <input type='password' name='password' placeholder="passord">
    <button>Register</button>
</form>




<a href="/">Back to home</a>